body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
  background-color: #fff;
  }
  
  /* nav bar container*/
  .nav{
    display:flex;
    background-color: #f0dfdf;
    padding: 10px 0px;
  }

  .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .nav li{
    margin-right: 20px;
  }

  .nav a{
    text-decoration: none;
    color:rgb(33, 125, 73)
  }


  /* Style the overall form container */
  .checklist form {
    max-width: 400px;
    margin: 70px auto;
    font-family: Arial, Helvetica;
  }
  
  /* Container for the checkboxes */
  .checkbox-container {
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
    max-height: 300px;
    /* allows scrolling */
    overflow-y: auto;
  }
  
  .checkbox-container input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin: 0;
    vertical-align: middle;
  }
  
  /* Custom checkmark when checkbox is checked */
  .checkbox-container input[type="checkbox"]:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  
  .checkbox-container input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  /* Style the labels */
  .checkbox-container label {
    font-size: 16px;
    margin-left: 4px;
    cursor: pointer;
    vertical-align: middle;
  }
  
  /* Container for the submit button */
  .submit-container {
    text-align: center;
  }
  x
  /* Submit button */
  .submit-container input[type="submit"] {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Change button color on hover */
  .submit-container input[type="submit"]:hover {
    background-color: #45a049;
  }
  