body {
    margin: 0;
    padding 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    height: 100vh;
  }
  
  .nav{
    position: fixed;
    padding: 20px;
    
  }
  
  .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav li{
    display: inline;
    margin: 40px;
  }
  
  
  .centered{
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 70vh;
    margin: 0;
  }

  .type_container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    height: 0vh;    
  }

  .type_bar{
    width: 70%;
    padding: 15px 24px;    
    font-size: 16px;
    border: 1px solid #ccc;

  }