body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
  background-color: #fff;
  min-height: 100vh;
  }
  
  /* nav bar container*/
  .nav{
    display:flex;
    background-color: #f0dfdf;
    padding: 10px 20px;
  }
  
  .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: flex-start;
  }
  
  .nav li{
    margin-right: 20px;
  }

  .nav a{
    text-decoration: none;
    color:rgb(33, 125, 73)
  }


  .centered{
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    padding-top: 190px;;
    margin: 0;
  }

  .type_container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    }

  .type_bar{
    width: 70%;
    padding: 15px 24px;    
    font-size: 16px;
    border: 1px solid #ccc;

  }