body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
    background-color: #fff;
    min-height: 100vh;
    }
    
    /* nav bar container*/
    .nav{
      display:flex;
      background-color: #f0dfdf;
      padding: 10px 20px;
    }
    
    .nav ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;

    }
    
    .nav li{
      margin-right: 20px;
    }
  
    .nav a{
      text-decoration: none;
      color:rgb(33, 125, 73)
    }
  
  .lesson {
            padding: 30px;
            max-width: 1200px;
            margin: 20px auto;
        }
        
        .lesson-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        
        .lesson-box {
            flex: 1;
            min-width: 300px;
            background-color: white;
            border-radius: 10px;
            padding: 25px;
            box-shadow: 0 5px 15px rgba(0,0,0,0.1);
            transition: transform 0.3s, box-shadow 0.3s;
            cursor: pointer;
        }
        
        .lesson-box:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 30px rgba(19, 113, 20, 0.698);
        }
        
        .lesson-box h2 {
            color: #333;
            margin-top: 0;
        }
        
        .lesson-box p {
            color: #666;
            line-height: 1.5;
        }
    